<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>task5</title>
</head>
<body>
    <h2>Welcome!</h2>
    <form method="POST">
        <input type="text" name="first_name" placeholder="Enter your first name" height="100px" width="200px">
        <br><br>
        <input type="text" name="last_name" placeholder="Enter your last name" height="100px" width="200px">
        <br><br>
        <button type="submit" value="Submit">ENTER</button>
        <br><br>
</body>
</html>